<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lifecycletests">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".base.android.ABaseActivity">
        </activity>
        <activity
            android:name=".base.support.SBaseActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
        </activity>

        <activity
            android:name=".commons.ADialogActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".commons.SDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".commons.AResultActivity">
        </activity>
        <activity
            android:name=".commons.SResultActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>